.crausal_wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  transition: all 0.2s;
}

.crausal_wrapper .crausal_container {
  width: 100%;
  height: 30rem;
}

.crausal_wrapper .image {
  width: 100%;
  height: 100%;
}

.crausal_wrapper .empty_crausal {
  background-color: grey;
  width: 100%;
  min-height: 30rem;
}

@media (max-width: 768px) {
  .crausal_wrapper .empty_crausal {
    min-height: 20rem;
  }
}
@media (max-width: 480px) {
  .crausal_wrapper .empty_crausal {
    min-height: 12rem;
  }
}
